*
!.gitignore
!.vscode
!.vscode/**
!opt
!opt/init_zone_once.sh
!etc
!etc/mysql
!etc/mysql/my.cnf
!etc/mysql/conf.d
!etc/mysql/conf.d/my.cnf
!etc/mysql/mysql.conf.d
!etc/mysql/mysql.conf.d/mysqld.cnf
!etc/nginx
!etc/nginx/nginx.conf
!etc/nginx/sites-enabled/
!etc/nginx/sites-enabled/**
!etc/powerdns
!etc/powerdns/**
!home
!home/isucon
!home/isucon/.ssh
!home/isucon/.ssh/authorized_keys
!home/isucon/.bashrc
!home/isucon/Makefile
!home/isucon/env.sh
!home/isucon/webapp
!home/isucon/webapp/pdns
!home/isucon/webapp/pdns/**
!home/isucon/webapp/sql
!home/isucon/webapp/sql/**
!home/isucon/webapp/rust
!home/isucon/webapp/rust/Cargo*
!home/isucon/webapp/rust/src
!home/isucon/webapp/rust/src/**
